In [1]:
import xml.etree.ElementTree as et 
import pandas as pd

In [2]:
root_path = "/Users/teodorlungu/Library/CloudStorage/OneDrive-Personal/Documents/Facultate/2022-2023 (4th Year)/Quarter 2 (2022-2023)/Empirical Methods/DISCO-A Dataset of Discord Chat Conversations for Software Engineering Research (1)/data"

In [3]:
def make_df_from_xml(path):
    xtree = et.parse(root_path + path)
    xroot = xtree.getroot()
    df_cols = ["conversation_id", "timestamp", "user", "text"]
    rows = []
    k = 0
    for node in xroot:
        if (node.attrib.get("conversation_id") != None):
            s_conversation_id = node.attrib.get("conversation_id")
            s_timestamp = node.find("ts").text
            s_user = node.find("user").text
            s_text = node.find("text").text
            rows.append({"conversation_id": s_conversation_id, "timestamp": s_timestamp, "user": s_user, "text": s_text})
        else:
            if (k==0):
                s_team_domain = node.find("team_domain")
                k = k + 1
            if (k==1):
                s_channel_name = node.find("channel_name")
                k = k + 1
            if (k==2):
                s_start_date = node.find("start_date")
                k = k + 1
            if (k==3):
                s_end_date = node.find("end_date")
                k = k + 1
    out_df = pd.DataFrame(rows, columns = df_cols)
    
    return out_df

In [4]:
python_path_apr2020 = "/pythongeneral/Apr2020/pythongeneralApr2020.xml.out"

python_path_aug2020 = "/pythongeneral/Aug2020/pythongeneralAug2020.xml.out"

python_path_dec2019 = "/pythongeneral/Dec2019/pythongeneralDec2019.xml.out"

python_path_feb2020 = "/pythongeneral/Feb2020/pythongeneralFeb2020.xml.out"

python_path_jan2020 = "/pythongeneral/Jan2020/pythongeneralJan2020.xml.out"

python_path_jul2020 = "/pythongeneral/Jul2020/pythongeneralJul2020.xml.out"

python_path_jun2020 = "/pythongeneral/Jun2020/pythongeneralJun2020.xml.out"

python_path_mar2020 = "/pythongeneral/Mar2020/pythongeneralMar2020.xml.out"

python_path_may2020 = "/pythongeneral/May2020/pythongeneralMay2020.xml.out"

python_path_nov2019 = "/pythongeneral/Nov2019/pythongeneralNov2019.xml.out"

python_path_oct2020 = "/pythongeneral/Oct2020/pythongeneralOct2020.xml.out"

python_path_sep2020 = "/pythongeneral/Sep2020/pythongeneralSep2020.xml.out"

In [5]:
out_df_python_path_apr2020 = make_df_from_xml(python_path_apr2020)
out_df_python_path_aug2020 = make_df_from_xml(python_path_aug2020)
out_df_python_path_dec2019 = make_df_from_xml(python_path_dec2019)
out_df_python_path_feb2020 = make_df_from_xml(python_path_feb2020)
out_df_python_path_jan2020 = make_df_from_xml(python_path_jan2020)
out_df_python_path_jul2020 = make_df_from_xml(python_path_jul2020)
out_df_python_path_jun2020 = make_df_from_xml(python_path_jun2020)
out_df_python_path_mar2020 = make_df_from_xml(python_path_mar2020)
out_df_python_path_may2020 = make_df_from_xml(python_path_may2020)
out_df_python_path_nov2019 = make_df_from_xml(python_path_nov2019)
out_df_python_path_oct2020 = make_df_from_xml(python_path_oct2020)
out_df_python_path_sep2020 = make_df_from_xml(python_path_sep2020)

In [6]:
out_df_python_path_nov2019.dtypes

conversation_id    object
timestamp          object
user               object
text               object
dtype: object

In [7]:
out_df_python_path_apr2020 = out_df_python_path_apr2020.convert_dtypes()
out_df_python_path_aug2020 = out_df_python_path_aug2020.convert_dtypes()
out_df_python_path_dec2019 = out_df_python_path_dec2019.convert_dtypes()
out_df_python_path_feb2020 = out_df_python_path_feb2020.convert_dtypes()
out_df_python_path_jan2020 = out_df_python_path_jan2020.convert_dtypes()
out_df_python_path_jul2020 = out_df_python_path_jul2020.convert_dtypes()
out_df_python_path_jun2020 = out_df_python_path_jun2020.convert_dtypes()
out_df_python_path_mar2020 = out_df_python_path_mar2020.convert_dtypes()
out_df_python_path_may2020 = out_df_python_path_may2020.convert_dtypes()
out_df_python_path_nov2019 = out_df_python_path_nov2019.convert_dtypes()
out_df_python_path_oct2020 = out_df_python_path_oct2020.convert_dtypes()
out_df_python_path_sep2020 = out_df_python_path_sep2020.convert_dtypes()

out_df_python_path_apr2020['conversation_id'] = out_df_python_path_apr2020['conversation_id'].astype('int')
out_df_python_path_aug2020['conversation_id'] = out_df_python_path_aug2020['conversation_id'].astype('int')
out_df_python_path_dec2019['conversation_id'] = out_df_python_path_dec2019['conversation_id'].astype('int')
out_df_python_path_feb2020['conversation_id'] = out_df_python_path_feb2020['conversation_id'].astype('int')
out_df_python_path_jan2020['conversation_id'] = out_df_python_path_jan2020['conversation_id'].astype('int')
out_df_python_path_jul2020['conversation_id'] = out_df_python_path_jul2020['conversation_id'].astype('int')
out_df_python_path_jun2020['conversation_id'] = out_df_python_path_jun2020['conversation_id'].astype('int')
out_df_python_path_mar2020['conversation_id'] = out_df_python_path_mar2020['conversation_id'].astype('int')
out_df_python_path_may2020['conversation_id'] = out_df_python_path_may2020['conversation_id'].astype('int')
out_df_python_path_nov2019['conversation_id'] = out_df_python_path_nov2019['conversation_id'].astype('int')
out_df_python_path_oct2020['conversation_id'] = out_df_python_path_oct2020['conversation_id'].astype('int')
out_df_python_path_sep2020['conversation_id'] = out_df_python_path_sep2020['conversation_id'].astype('int')

out_df_python_path_dec2019["conversation_id"] += out_df_python_path_nov2019['conversation_id'].max()
out_df_python_path_jan2020["conversation_id"] += out_df_python_path_dec2019["conversation_id"].max()
out_df_python_path_feb2020["conversation_id"] += out_df_python_path_jan2020["conversation_id"].max()
out_df_python_path_mar2020["conversation_id"] += out_df_python_path_feb2020["conversation_id"].max()
out_df_python_path_apr2020["conversation_id"] += out_df_python_path_mar2020["conversation_id"].max()
out_df_python_path_may2020["conversation_id"] += out_df_python_path_apr2020["conversation_id"].max()
out_df_python_path_jun2020["conversation_id"] += out_df_python_path_may2020["conversation_id"].max()
out_df_python_path_jul2020["conversation_id"] += out_df_python_path_jun2020["conversation_id"].max()
out_df_python_path_aug2020["conversation_id"] += out_df_python_path_jul2020["conversation_id"].max()
out_df_python_path_sep2020["conversation_id"] += out_df_python_path_aug2020["conversation_id"].max()
out_df_python_path_oct2020["conversation_id"] += out_df_python_path_sep2020["conversation_id"].max()

out_df_python_path_nov2019['month'] = pd.DatetimeIndex(out_df_python_path_nov2019['timestamp']).month
out_df_python_path_nov2019['year'] = pd.DatetimeIndex(out_df_python_path_nov2019['timestamp']).year
out_df_python_path_dec2019['month'] = pd.DatetimeIndex(out_df_python_path_dec2019['timestamp']).month
out_df_python_path_dec2019['year'] = pd.DatetimeIndex(out_df_python_path_dec2019['timestamp']).year
out_df_python_path_jan2020['month'] = pd.DatetimeIndex(out_df_python_path_jan2020['timestamp']).month
out_df_python_path_jan2020['year'] = pd.DatetimeIndex(out_df_python_path_jan2020['timestamp']).year
out_df_python_path_feb2020['month'] = pd.DatetimeIndex(out_df_python_path_feb2020['timestamp']).month
out_df_python_path_feb2020['year'] = pd.DatetimeIndex(out_df_python_path_feb2020['timestamp']).year
out_df_python_path_mar2020['month'] = pd.DatetimeIndex(out_df_python_path_mar2020['timestamp']).month
out_df_python_path_mar2020['year'] = pd.DatetimeIndex(out_df_python_path_mar2020['timestamp']).year
out_df_python_path_apr2020['month'] = pd.DatetimeIndex(out_df_python_path_apr2020['timestamp']).month
out_df_python_path_apr2020['year'] = pd.DatetimeIndex(out_df_python_path_apr2020['timestamp']).year
out_df_python_path_may2020['month'] = pd.DatetimeIndex(out_df_python_path_may2020['timestamp']).month
out_df_python_path_may2020['year'] = pd.DatetimeIndex(out_df_python_path_may2020['timestamp']).year
out_df_python_path_jun2020['month'] = pd.DatetimeIndex(out_df_python_path_jun2020['timestamp']).month
out_df_python_path_jun2020['year'] = pd.DatetimeIndex(out_df_python_path_jun2020['timestamp']).year
out_df_python_path_jul2020['month'] = pd.DatetimeIndex(out_df_python_path_jul2020['timestamp']).month
out_df_python_path_jul2020['year'] = pd.DatetimeIndex(out_df_python_path_jul2020['timestamp']).year
out_df_python_path_aug2020['month'] = pd.DatetimeIndex(out_df_python_path_aug2020['timestamp']).month
out_df_python_path_aug2020['year'] = pd.DatetimeIndex(out_df_python_path_aug2020['timestamp']).year
out_df_python_path_sep2020['month'] = pd.DatetimeIndex(out_df_python_path_sep2020['timestamp']).month
out_df_python_path_sep2020['year'] = pd.DatetimeIndex(out_df_python_path_sep2020['timestamp']).year
out_df_python_path_oct2020['month'] = pd.DatetimeIndex(out_df_python_path_oct2020['timestamp']).month
out_df_python_path_oct2020['year'] = pd.DatetimeIndex(out_df_python_path_oct2020['timestamp']).year

In [8]:
out_df_python_path_nov2019

,conversation_id,timestamp,user,text,month,year
0,1,2019-11-01T00:04:50.546000,Patrice,oh noo the orange server's logo is gone,11,2019
1,1,2019-11-01T00:05:40.864000,Patrice,to develop mobile apps:,11,2019
2,1,2019-11-01T00:07:38.284000,Patrice,is it better to learn kivy or to learn another...,11,2019
3,1,2019-11-01T00:19:39.677000,Patrice,someone?,11,2019
4,1,2019-11-01T00:21:10.075000,Luna,Unity is quite good but if you already have a ...,11,2019
...,...,...,...,...,...,...
33907,1092,2019-11-30T18:22:13.285000,Jonas,it just does weird things depending on how you...,11,2019
33908,1092,2019-11-30T18:25:01.005000,Bia,I though it gave you a traceback,11,2019
33909,1092,2019-11-30T18:28:19.132000,Muhammadyusuf,you can but you have to be careful,11,2019
33910,1095,2019-11-30T18:28:26.400000,Muhammadyusuf,```python>>> l = list(range(10))>>> for i elem...,11,2019
33911,1096,2019-11-30T18:28:37.754000,Cerenity,creeper,11,2019

In [9]:
out_df_python_path_dec2019

,conversation_id,timestamp,user,text,month,year
0,1097,2019-12-01T00:56:23.288000,Ryden,where is the name of the file stored on the file?,12,2019
1,1097,2019-12-01T01:07:04.875000,Jayvien,say what?,12,2019
2,1097,2019-12-01T01:10:54.022000,Kaliope,Where would you guys recommend I learn kotlin ...,12,2019
3,1097,2019-12-01T01:13:29.732000,Naely,I used the official Kotlin docs they have an e...,12,2019
4,1097,2019-12-01T01:16:43.656000,Jayvien,do they?,12,2019
...,...,...,...,...,...,...
30935,2215,2019-12-31T18:24:58.198000,Azyriah,hi @GokturkSM,12,2019
30936,2215,2019-12-31T18:25:37.421000,Areesha,Anyone have some math background? Trying to im...,12,2019
30937,2215,2019-12-31T18:26:17.603000,Areesha,My question is... what exactly is a cyclic gro...,12,2019
30938,2215,2019-12-31T18:29:15.676000,Ailany,You need to know what exceptions your code may...,12,2019
30939,2215,2019-12-31T18:29:57.380000,Ailany,@cup,12,2019

In [10]:
out_df_python_path_oct2020

,conversation_id,timestamp,user,text,month,year
0,17364,2020-10-01T00:00:04.097000,Torianna,@Infinimata Thank you I will try to use them j...,10,2020
1,17364,2020-10-01T00:00:08.332000,Biannca,@QuesoCaliente you might be able to use a port...,10,2020
2,17364,2020-10-01T00:00:27.760000,Jamileth,@renagade imports go to the very top of the fi...,10,2020
3,17364,2020-10-01T00:00:50.569000,Rydar,@Infinimata unfortunately not our work laptops...,10,2020
4,17364,2020-10-01T00:01:22.835000,Chace,hm. i guess you could try making Python progra...,10,2020
...,...,...,...,...,...,...
205856,19683,2020-10-31T18:29:21.070000,Jacopo,Iterator actually you can call `next` directly...,10,2020
205857,19683,2020-10-31T18:29:25.695000,Kwabena,I could not solve most of my problems so I got...,10,2020
205858,19683,2020-10-31T18:29:39.551000,Prisca,@marc Yes. It operates based on the `__reverse...,10,2020
205859,19683,2020-10-31T18:29:41.070000,Nohan,i dont use linux main because i do not good to...,10,2020
205860,19683,2020-10-31T18:29:55.179000,Sureya,is net framework stuff required for flask guys?,10,2020

In [11]:
#col = [conversation_id, conversation_length_as_message_count]

out_df_python_frames = [
out_df_python_path_nov2019,
out_df_python_path_dec2019,
out_df_python_path_jan2020,
out_df_python_path_feb2020,
out_df_python_path_mar2020,
out_df_python_path_apr2020,
out_df_python_path_may2020,
out_df_python_path_jun2020,
out_df_python_path_jul2020,
out_df_python_path_aug2020,
out_df_python_path_sep2020,
out_df_python_path_oct2020]

out_df_python_all = pd.concat(out_df_python_frames)

In [12]:
out_df_python_all

,conversation_id,timestamp,user,text,month,year
0,1,2019-11-01T00:04:50.546000,Patrice,oh noo the orange server's logo is gone,11,2019
1,1,2019-11-01T00:05:40.864000,Patrice,to develop mobile apps:,11,2019
2,1,2019-11-01T00:07:38.284000,Patrice,is it better to learn kivy or to learn another...,11,2019
3,1,2019-11-01T00:19:39.677000,Patrice,someone?,11,2019
4,1,2019-11-01T00:21:10.075000,Luna,Unity is quite good but if you already have a ...,11,2019
...,...,...,...,...,...,...
205856,19683,2020-10-31T18:29:21.070000,Jacopo,Iterator actually you can call `next` directly...,10,2020
205857,19683,2020-10-31T18:29:25.695000,Kwabena,I could not solve most of my problems so I got...,10,2020
205858,19683,2020-10-31T18:29:39.551000,Prisca,@marc Yes. It operates based on the `__reverse...,10,2020
205859,19683,2020-10-31T18:29:41.070000,Nohan,i dont use linux main because i do not good to...,10,2020
205860,19683,2020-10-31T18:29:55.179000,Sureya,is net framework stuff required for flask guys?,10,2020

In [13]:
out_series_python_conversation_length = out_df_python_all.groupby(['conversation_id']).size()
out_series_python_conversation_length

conversation_id
1         84
2        151
3          4
4         21
5         24
        ...
19680      1
19681      1
19682      1
19683    116
19684      1
Length: 19684, dtype: int64

In [14]:
out_df_python_conversation_length = pd.DataFrame({'conversation_id':out_series_python_conversation_length.index, 'length':out_series_python_conversation_length.values})
out_df_python_conversation_length

       conversation_id  length
0                    1      84
1                    2     151
2                    3       4
3                    4      21
4                    5      24
...                ...     ...
19679            19680       1
19680            19681       1
19681            19682       1
19682            19683     116
19683            19684       1

[19684 rows x 2 columns]